<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="pagination">
        <nav role="pagination" class="post-list-pagination">
          </p>
            {{ if .Paginator.HasPrev }}
            <a href="{{.Paginator.Prev.URL}}" class="post-list-pagination-item pure-button post-list-pagination-item-prev">
              <i class="fa fa-angle-double-left"></i>&nbsp;Newer
            </a>
            {{ end }}
          </p>
          <p>
          <span class="post-list-pagination-item post-list-pagination-item-current">Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}</span>
          </p>
          <p>
            {{ if .Paginator.HasNext }}
            <a href="{{.Paginator.Next.URL}}" class="post-list-pagination-item pure-button post-list-pagination-item-next">
              Older&nbsp;<i class="fa fa-angle-double-right"></i>
            </a>
            {{ end }}
          </p>
        </nav>
      </div>
    </div>
  </div>
</div>
