{{ partial "header.html" . }}

<!-- facebook JS SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h3>{{ .Title }}</h3>
                <h5>By <a href=/authors/{{ .Params.authors | urlize }}>{{ .Params.authors }}</h5>
				<span class="label label-primary">{{ if .Site.Params.strings.date_format }}{{ .Date.Format .Site.Params.strings.date_format }}{{ else }}{{ .Date.Format "Mon, Jan 2, 2006" }}{{ end }}</span>{{ if .Params.categories }} in
                    {{ range $i, $e :=.Params.categories }}
                        {{if $i}} , {{end}}
                        <a href="/categories/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                {{ end }}
                {{ if .Params.tags }} using tags
                    {{ range $i, $e :=.Params.tags }}
                        {{if $i}} , {{end}}
                        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
				{{ end }}
			</small>
		</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-offset-1 col-md-10" style="display:flex; align-items:center">

        <!-- twitter -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="CoreKube" data-hashtags="Kubernetes">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        &nbsp;&nbsp;
        <!-- hacker news -->
        <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ .Title }}" data-url="{{ .Permalink }}" data-count="horizontal" data-style="twitter">Vote on Hacker News</a>
        <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
        &nbsp;
        <!-- facebook -->
        <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button_count"></div>

      </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <br>
            {{ .Content }}
        </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10" style="display:flex; align-items:center">

        <!-- twitter -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="CoreKube" data-hashtags="Kubernetes">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        &nbsp;&nbsp;
        <!-- hacker news -->
        <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ .Title }}" data-url="{{ .Permalink }}" data-count="horizontal" data-style="twitter">Vote on Hacker News</a>
        <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
        &nbsp;
        <!-- facebook -->
        <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button_count"></div>
      </div>

      <div class="col-md-offset-1 col-md-10">
        <ul class="pager">
          {{with .PrevInSection}} &nbsp;<li class="previous"><a href="{{.Permalink}}"> {{.Title}}</a></li>{{end}}
          {{with .NextInSection}} &nbsp;<li class="next"><a href="{{.Permalink}}"> {{.Title}}</a></li>{{end}}
        </ul>
      </div>
    </div>
</div>

{{ template "_internal/disqus.html" . }}

<hr>
<div class="container">
  <div class="row text-center">
    <!--We *need* to give mobile more space-->
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <div class="fb-comments" data-href="{{ .Permalink }}" data-numposts="3" data-order-by="reverse_time"></div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
